@model App1_1_10_2023.Models.Urodziny
@{
    ViewData["Title"] = "Urodziny Folmularz";
}

<h1>Urodziny Frmularz</h1>
<form>
    <input type="text" asp-for="Imie"/>Imie
    <input type="number" asp-for="Rok" />Rok Urodzenia
    <input type="submit" />

</form>

@ViewBag